<div class="col-md-12">
    <p><div class=col-md-4>
        <a alt="UCLouvain" href="https://uclouvain.be" target="_blank" title="Université Catholique de Louvain">
            <img src="https://cdn.uclouvain.be/groups/cms-editors-arec/charte-graphique-uclouvain/telechargements/logo_UCLouvain_format_png_RVB.jpg.png" alt="Drawing" style="height: 8vh;" align="left"/>
        </a>
    </div></p>
      <p><div class=col-md-4>
          <a alt="Wallonie" href="https://www.wallonie.be" target="_blank" title="Wallonie">
              <img src="/images/soutien_v_fr.png" alt="Drawing" style="height: 8vh;" align="right">
          </a>
    </div></p>
    <p><div class=col-md-4>
        <a alt="FNRS" href="https://www.fnrs.be/" target="_blank" title="FNRS">
        <img src="https://www.frs-fnrs.be/images/FRS-FNR_S2-PANT_UK_CS.png" alt="Drawing" style="height: 8vh;" align="right">
    </a>
    </div></p>
</div>